.ulContainer {
    margin: 2em;
    display: flex;
    justify-content: center;
}

.ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5em;
}

.img {
    height: 10em;
}

.item {
    border: black 1px solid;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
}

.title {
    text-align: center;
}
