.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    background-color: antiquewhite;
}

.headerMain {
    display: flex;
    gap: 2em;
}

hr {
    margin: 0;
    padding: 0;
}

.shoppingCart {
    height: 1em;
}

.link {
    text-decoration: none;
}
